LDAP_HOST=ldaps://ldap.sram.surf.nl
LDAP_BASE_DN=dc=flat,dc=<<< your service entity id >>>,dc=services,dc=sram,dc=surf,dc=nl
LDAP_BIND_DN=cn=admin,dc=<<< your service entity id >>>,dc=services,dc=sram,dc=surf,dc=nl
LDAP_ADMIN_PASSWORD=<<< your service ldap admin password >>>
